<template>
  <div id="home">
    <h1 class="my-4">Welcome to Modern Business</h1>

      <!-- Marketing Icons Services Section -->
      <div class="row">
        <div class="col-lg-4 mb-4"
          v-for="(service, index) in services"
          v-bind:key="service.id"
        >
   
          <ServiceCard
            v-bind:service="service"
            v-bind:index="index">
          </ServiceCard>
   
        </div>
        <!-- /.col-lg-4 mb-4 -->
    
      </div>
      <!-- /.row -->
      <!-- END Marketing Icons Services Section -->

      <!-- Portfolio Section -->
      <h2>Portfolio Heading</h2>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item"
          v-for="(project,index) in projects"
          v-bind:key="project.id">

          <ProjectCard
            v-bind:project="project"
            v-bind:index="index">   
          </ProjectCard>

        </div> 
        <!-- /.col-lg-4 col-sm-6 portfolio-item -->
       
      </div>
      <!-- /.row -->
      <!-- END Portfolio Section -->

      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Modern Business Features</h2>
          <p>The Modern Business template by Start Bootstrap includes:</p>
          <ul>
            <li>
              <strong>Bootstrap v4</strong>
            </li>
            <li>jQuery</li>
            <li>Font Awesome</li>
            <li>Working contact form with validation</li>
            <li>Unstyled page elements for easy customization</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
      </div>

  </div>
</template>

<script>

 // import ProjectCard from '../components/ProjectCard.vue'
// import { mutableValue, incMutableValue } from '../database';
export default {

  name: 'Home',

  // components: {
  //   ProjectCard
  // },  

  data() {
    return {
      projects: [],
      services: [],
    }
  },

  mounted() {
    this.servicesAll();
    this.projectsAll();
    console.log ('Home mounted');
  },

  methods: {
    projectsAll(){
      this.projects = this.projects.concat(this.$_projects);
    },

    servicesAll(){
      this.services = this.services.concat(this.$_services);
    },

  }
  
}
</script>

<style>

</style>

<!-- https://ru.vuejs.org/v2/cookbook/adding-instance-properties.html -->
<!-- https://2ality.com/2015/07/es6-module-exports.html -->
<!-- https://habr.com/ru/post/267639/ -->
<!-- https://webformyself.com/ispolzujte-lyubuyu-js-biblioteku-s-vue-js/ -->
<!-- https://www.youtube.com/watch?v=LEZ01wNpdxk -->
<!-- http://gearmobile.github.io/javascript/require-nodejs/ -->
<!-- https://issue.life/questions/46677752 -->