<template>
  <div id="portfolio">
     <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Portfolio 3
        <small>Subheading</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/" >Home</router-link>	
        </li>
        <li class="breadcrumb-item active">Portfolio 3</li>
      </ol>

     <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item"
         v-for="(project,index) in projects"
         v-bind:key="project.id">
           <ProjectCard
            v-bind:project="project"
            v-bind:index="index">
              
            </ProjectCard>

        </div> 
       
      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
  </div>
</template>

<script>

export default {
  name: 'Portfolio',

  data() {
    return {
      projects: []
    }
  },

  mounted() {
   
    this.projectsAll();
    console.log ('Portfolio mounted')
  },

  methods: {
    projectsAll(){
      this.projects = this.projects.concat(this.$_projects);
    },
  }  
  
}
</script>

<style>


</style>
