<template>
  <div>
     <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Project
        <small>Subheading {{ $route.params.id }}</small>
      </h1>

      
  </div>
</template>

<script>

export default {
  name: 'Project',

  mounted() {
    console.log ('Project mounted');
  }
  
}
</script>

<style>

</style>
