<template>
  <div id="footer">
    <footer class="py-5 mt-2 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Car Book 2020</p>
      </div>
      <!-- /.container -->
    </footer>
  </div>
</template>

<script>

export default {
  name: 'Footer'
  
}
</script>

<style>


</style>
