<template>
	<div class="card card-shadow h-100">
        <a href="#">
        <img class="card-img-top" :src=" getImgUrl( project.img ) " alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
             <!-- <router-link :to="'/portfolio/'+'${project.id }'" > {{ project.title }} </router-link> -->

              <router-link :to="{name:'project', params:{id: project.id }}" > {{ project.title }} </router-link>
          </h4>
          <p class="card-text">{{ index+1 }} {{ project.text }}</p>
        </div>
    </div>
</template>

<script>

export default {
  name: 'ProjectCard',
   props:['project', 'index'],

  mounted() {
    console.log ('ProjectCard')
  },

  methods: {
    getImgUrl(pic) {
      return  pic 
	}

  }
  
}
</script>

<style>


</style>
