<template>

<div class="card card-shadow h-100">
  <h4 class="card-header">{{ service.title }}</h4>
  <div class="card-body">
     <p class="card-text">{{ index+1 }} {{ service.text }}</p>
  </div>
  <div class="card-footer">
    <router-link to="/service" class="btn btn-primary">Learn More</router-link>
  </div>

</div>

</template>

<script>

export default {
  name: 'ServiceCard',
   props:['service', 'index'],

  mounted() {
    console.log ('ServiceCard')
  }

}
</script>

<style>


</style>
