<template>
  <div id="app">
    
  <Navigation></Navigation>

  <!-- Page Content -->
  <div class="container">
       <router-view></router-view>
  </div>
  <!-- /.container --> 

  <Footer></Footer>
  </div>
</template>

<script>
import Navigation from './components/Navigation.vue' 
import Footer from './components/Footer.vue' 


export default {

  name: 'App',
  components: {
    Navigation,
    Footer
  }  
    
}
//////////////

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
